<div class="grid-container">
  <div class="grid-item" id="x0y0"></div>
  <div class="grid-item" id="x1y0"></div>
  <div class="grid-item" id="x2y0"></div>
  <div class="grid-item" id="x0y1"></div>
  <div class="grid-item" id="x1y1"></div>
  <div class="grid-item" id="x2y1"></div>
  <div class="grid-item" id="x0y2"></div>
  <div class="grid-item" id="x1y2"></div>
  <div class="grid-item" id="x2y2"></div>
  <div class="grid-item" id="x0y3"></div>
  <div class="grid-item" id="x1y3"></div>
  <div class="grid-item" id="x2y3"></div>
</div>
