/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
h1 {
  font-family: 'Knewave', cursive;
}

body {
  font-family: 'Raleway', sans-serif;
}

 .grid-container {
   display: grid;
   grid-template-columns: repeat(3, 125px);
   grid-template-rows: repeat(4, 100px);
   justify-items: center;
   align-items: center;
 }

 #sick_damage {
  grid-column-start: 3;
  grid-row-start: 1;
 }


 .options-container {
   display: grid;
   grid-template-columns: repeat(2, auto);
   grid-template-rows: repeat(2, auto);
   max-width: 250px;
   justify-items: center;
   align-items: center;
 }

.bird-display {
  display: block;
  float: right;
}
 .bird-container {
  margin-right: 150px;
 }

 .doctor-label {
   grid-row-start: 1;
   grid-column-start: 1;
   font-size: 0.75em;
 }

.doctor-button {
  grid-row-start: 2;
  grid-column-start: 1;
}

.food-label {
  grid-row-start: 1;
  grid-column-start: 2;
  font-size: 0.75em;
}

.food-button {
  grid-row-start: 2;
  grid-column-start: 2;
}

nav {
  margin: 20px;
  background-color: #76D7EA;
  padding: 0px, 2px, 0px, 2px;
  text-align: right;
}

 .nav-links {
   float: right;
   margin-left: 20;
 }

 footer {
   background-image: url("https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0464/6979/rrr12x12_Pixel_Block_Solid_Grass_PRINT_FILE_shop_preview.png");
 }

input[value=true] {
  color: #FD0E35;
  border: 2px solid red;
 }

 input:in-range {
  color: black;
}

input:out-of-range {
  color: #FD0E35;
  border: 2px solid red;
}
